In [1]:
words = input().lower().split()
unique_words = set(words)
result = sorted(unique_words)
print(result)

abnanab APPLE guava banana
['abnanab', 'apple', 'banana', 'guava']

In [3]:
n = {"apple": 10, "banana": 5}
m = {"banana": 7, "orange": 8}
result = n.copy()
for key in m:
    if key in result:
        result[key] += m[key]
    else:
        result[key] = m[key]
print(result)

{'apple': 10, 'banana': 12, 'orange': 8}

In [4]:
def fib(n):
    cache = {}
    def helper(n):
        if n in cache:
            return cache[n]
        if n <= 1:
            return n
        cache[n] = helper(n-1) + helper(n-2)
        return cache[n]
    return helper(n)
print(fib(10))

55

In [5]:
data = [1,2,1,3,2,4]
result = []
seen = []
for x in data:
    if x not in seen:
        count = data.count(x)
        result.append((x, count))
        seen.append(x)
print(result)

[(1, 2), (2, 2), (3, 1), (4, 1)]

In [6]:
d = {"a":10, "b":20, "c":10, "d":30}
target = 10
result = []
for key in d:
    if d[key] == target:
        result.append(key)
print(result)

['a', 'c']

In [7]:
words = input().split()
freq = {}
for word in words:
    freq[word] = freq.get(word, 0) + 1
sorted_freq = dict(sorted(freq.items(), key=lambda x: x[1], reverse=True))
print(sorted_freq)

apple banana apple carrot grapes apple
{'apple': 3, 'banana': 1, 'carrot': 1, 'grapes': 1}

In [8]:
salaries = {"John":50000, "Alice":70000, "Bob":65000}
highest = max(salaries, key=salaries.get)
print(highest)

Alice

In [9]:
data = [("apple","fruit"), ("carrot","vegetable"),
        ("banana","fruit"), ("spinach","vegetable")]
result = {}
for item, category in data:
    if category not in result:
        result[category] = []
    result[category].append(item)
print(result)

{'fruit': ['apple', 'banana'], 'vegetable': ['carrot', 'spinach']}